{% extends 'core/base.html' %}
{% load static %}
{% block content %} 
<div class="mt-5">
 <div class="text-center">
  <img src="{% static 'core/images/pic1.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
 </div>
 <div class="mt-5 text-white mx-5 text-justify">
  <h1 class="font-weight-bold st-font">Hello,</h1>
  <div class="px-4" style="line-height:2rem;">
   <p style="text-indent:100px;"> I am <b class="text-warning">vaibhav goyal</b> ,since 2019 i doing my Btech from GBU University. </p>
   <p>Where I learn lot of courses such as Algorithms,Data sturcture,Cyber Security,operating system and networking etc.<b class="text-warning">Doing my Data structure Using c++ language</b>on platfrom like geeksforgeeks and Leetcode.</p>
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet sapiente reiciendis numquam optio? Enim eligendi quae ducimus ipsam consectetur dicta veritatis sunt. Pariatur vel modi alias eum ducimus nam temporibus.</p>
  </div>
 </div>
 <div class="text-center">
  <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
  <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
 </div>
</div>
{% endblock content %}